<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="toggleNavBar()">PonyRacer</a>
    <div id="navbar" [class.collapse]="navbarCollapsed">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link">Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Races</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
